body {
  background-image: url("https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/blue0517.jpg") blue;
  background-repeat: repeat-x;
}

p,h1 {
	color: red;
  margin-left: 40px;
}
